//================\\
//  Colors        \\
//================\\

$color-primary: #a34eca;





//================\\
//  Colors        \\
//================\\

@mixin shadow($size: 1) {
  @if $size == 1 {
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.6);;
  }
  @else if $size == 2 {
    box-shadow: 0px 5px 5px 3px rgba(0,0,0,0.5);;
  }
}





/*================*\
  Globals
\*================*/

html {
  box-sizing: border-box;
}


*, *:before, *:after {
  box-sizing: inherit;
}


body {
  padding: 20px;
  color: $color-primary;
  font-family: "Roboto", Arial, sans-serif;
}


.hidden {
  display: none;
}





/*================*\
  Text
\*================*/

.heading {
  display: inline-block;
  padding: 5px 10px;
  margin-left: -20px;

  background: $color-primary;
  color: white;
}





/*================*\
  Button
\*================*/

.button {
  display: block;
  margin: 0 auto;
  padding: 5px;
  
  @include shadow();
  background: $color-primary;
  color: white;
  font-size: 1.5em;
  border: 2px solid $color-primary;
  border-radius: 5px;
}





/*================*\
  Card
\*================*/

