//================\\
//  Colors        \\
//================\\

$color-background: #7758cd;
$color-primary: #a34eca;
$color-secondary: #ffe55b;





//================\\
//  Colors        \\
//================\\

@mixin shadow($size: 1) {
  @if $size == 1 {
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.6);;
  }
  @else if $size == 2 {
    box-shadow: 0px 5px 5px 3px rgba(0,0,0,0.5);;
  }
}





/*================*\
  Globals
\*================*/

html {
  box-sizing: border-box;
}


body {
  padding: 20px;
  background: $color-background;
  color: $color-primary;
  font-family: "Roboto", Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.center {
  display: block;
  margin: 0 auto;
}


.block {
  display: block;
}


.hidden {
  display: none;
}





/*================*\
  Text
\*================*/

.heading {
  display: inline-block;
  padding: 5px 10px;
  margin-left: -20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  
  @include shadow();
  background: $color-primary;
  color: white;
}


.text-center {
  text-align: center;
}


.bold {
  font-weight: bold;
}


.italic {
  font-style: italic;
}


h1, p, a {
  color: $color-secondary;
}


dt, dd {
  display: inline-block;
}


dt {
  font-weight: bold;
  margin-right: 5px;
}


dt::after {
  content: ":";
}


dd {
  margin-left: 0px;
  margin-bottom: 10px;
}





/*================*\
  Button
\*================*/

.button {
  display: block;
  max-width: 80%;
  margin: 0 auto;
  padding: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  
  @include shadow();
  text-decoration: none;
  text-align: center;
  background: $color-primary;
  color: white;
  font-size: 1.5em;
  border: 2px solid $color-primary;
  border-radius: 5px;
}





/*================*\
  Card
\*================*/

.card {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;

  @include shadow();
  background: white;
}


.card p, .card a {
  color: $color-primary;
}





/*================*\
  Rating
\*================*/

.rating__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}


.star-wrapper {
  width: 15%;
}


.star {
  width: 100%;
}


.rating--numerical {
  font-size: 2em;
  margin-bottom: 20px;

  color: $color-secondary;
}


.rating--numerical:before {
  content: "Rating: ";
  font-weight: bold;
}





/*================*\
  Review
\*================*/

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:  justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


.review__info {
  width: 25%;
}


.review__user-photo {
  width: 100%;
  border-radius: 100%;
}


.review__relative-time {
  margin-top: 10px;
  font-size: 0.8em;
}


.review__content {
  width: 70%;
}

